#apptNewApptForm{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:stretch;
padding:0px 12px 0px 12px;
}

#apptNewApptForm > div{
display:flex;
}

#apptNewApptForm select,#apptNewApptForm input[type="datetime-local"],#apptNewApptForm input[type="number"]{
margin-right: 12px;
}

#apptNewApptForm .lbl{
font-weight: 600;
margin-bottom: 26px;
}

#apptNewApptForm div#apptNewApptFormApptInfoByUserType{
opacity: 0.75;
display:flex;
align-self:flex-end;
margin: 4px 4px 8px 4px;
font-size: small;
font-weight: bolder;
color: var(--default-blue);
background-color: white;
padding:2px 3px;
border-radius: 3px;
}

#apptNewApptFormUser{
margin-bottom:18px;
}

#apptNewApptFormUserNew{
display:flex;
justify-content:flex-end;
align-items:center;
margin-left: 50px;
}

#apptNewApptFormUserInfo{
padding: 24px 12px;
}

#apptNewApptFormUserInfo > div{
justify-content:space-between;
}

#apptNewApptFormFullApptInfoDur{
width:55pt;
}

#apptNewApptFormApptInfoDur{
width:55pt;
}

#apptNewApptFormApptInfoSrvLst{
}

#apptNewApptFormApptInfoSrvLstLbl{
}

#apptNewApptFormApptInfoDateUser{
justify-content: flex-start;
flex-wrap: wrap;
}

#apptNewApptFormFull{
display: flex;
flex-direction:column;
justify-content:flex-start;
align-items:stretch;
padding:0px 12px 0px 12px;
width: 100%;
height:fit-content;
}

#apptNewApptFormFull .lbl{
font-weight: 600;
margin-bottom: 26px;
}

#apptNewApptFormFullUser{
width: 100%;
}

#apptNewApptFormFullUser div#apptNewApptFormFullApptInfoByUserType{
opacity: 0.75;
display:flex;
align-self:flex-end;
margin: 4px 4px 8px 4px;
font-size: small;
font-weight: bolder;
color: var(--default-blue);
background-color: white;
padding:2px 3px;
border-radius: 3px;
}

#apptNewApptFormFullApptInfoByUser{
margin-right:12px;
}

#apptNewApptFormFullUserCheck{
}

#apptNewApptFormFullUserToggle{
display: flex;
flex-direction:column;
align-items:flex-end;
justify-content: flex-start;
}

#apptNewApptFormFullUserToggle > .userForm{
width:100%;
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:stretch;
border-radius: 6px;
background-color:rgba(255,255,255,0.15);
box-sizing:border-box;
margin-top:12px;
margin-bottom:12px;
}

#apptNewApptFormFullByUserSlct{
display:flex;
margin-bottom:24px;
}

#apptNewApptFormFullApptInfoByUserType{

}

#apptNewApptFormFullUserAddUser{
margin-left: 24px;
}

#apptNewApptFormFullUserSlct{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
}

.apptNewApptFormFullUserFormBtns{
margin-top:12px;
}

#apptNewApptFormFullApptInfoSrvSlct div{
display:flex;
}

#apptNewApptFormFullApptInfoSrv{
margin-right: 12px;
}

#apptNewApptFormApptInfoSrvTtlDur{
display:flex;
justify-content: flex-end;
align-items: flex-start;
margin-bottom:24px;
}

#apptNewApptFormFullApptInfoSrvTtlDur{
display:flex;
justify-content: flex-end;
align-items: flex-start;
margin-bottom: 24px;
}

#apptNewApptFormFullApptStatusRow{
display:flex;
justify-content: flex-end;
align-items: flex-start;
margin-bottom:24px;
}

.apptFormMultiBox{
justify-content:flex-start;
align-items:stretch;
flex-direction:column;
margin-top:18px;
}

.apptFormMultiBox > div.apptFormMultiBoxLbl{
justify-content:flex-start;
margin-bottom:6px;
font-weight:900;
}


.apptFormMultiBox > div.apptFormMultiBoxBox{
border-radius:6px;
border:1px solid white;
padding:8px;
justify-content:flex-start;
flex-wrap:wrap;
}

#apptFormPics{
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-around;
align-items:center;
border:1px solid white;
border-radius:var(--default-border-radius);
padding:var(--default-border-radius);
}

#apptFormPics div{
display:flex;
}

#apptFormPics .photo, #apptFormPics img{
width:50px;
border-radius:var(--default-border-radius);
}

#apptFormPics .photo{
cursor:pointer;
box-sizing: border-box;
}

#apptFormPics .photo:hover{
box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.6);
}

.apptFormPicsIcon{
width:50px;
cursor:pointer
}

.multiBoxListItem{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-start;
border-radius: 8px;
border:1px solid white;
color:white;
background-color:rgba(255, 255, 255, 0.3);
padding:3px 6px;
font-size:x-large;
cursor:pointer;
margin-right: 8px;
margin-bottom: 8px;
}

.multiBoxListItem > div{
display:flex;
}

.multiBoxListItem div.multiBoxListItemInfo{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
}

.multiBoxListItem > div.multiBoxListItemDel{
margin-left:8px;
}

