#apptAdd{
display: flex;
width:100%;
justify-content: flex-end;
padding:0px 6px 0px 6px;
box-sizing: border-box;
color: #808080;
font-size: x-large;
font-weight: 900;
margin-bottom: 20px;
}

#apptAdd #apptAddBtn{
cursor: pointer;
}

#apptMain{
width: 100%;
padding: 0px 10px 0px 10px;
box-sizing: border-box;
}

#apptMain td:last-child > div.apptCellActns{
display:flex;
justify-content: space-around;
align-items:flex-start;
width:100%;
}

#apptMain td:last-child > div.apptCellActns svg{
fill:var(--default-gray);
border-radius:6px;
}

#apptMain td:last-child > div.apptCellActns svg:hover{
fill:white;
background-color:var(--default-gray);
}


#apptNewApptForm{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:stretch;
padding:0px 12px 0px 12px;
}

#apptNewApptForm > div{
display:flex;
}

#apptNewApptForm select,input[type="datetime-local"],input[type="number"]{
margin-right: 12px;
}

#apptNewApptForm .lbl{
font-weight: 600;
margin-bottom: 26px;
}

#apptNewApptForm div#apptNewApptFormApptInfoByUserType{
opacity: 0.75;
display:flex;
align-self:flex-end;
margin: 4px 4px 8px 4px;
font-size: small;
font-weight: bolder;
color: var(--default-blue);
background-color: white;
padding:2px 3px;
border-radius: 3px;
}

#apptNewApptFormUser{
margin-bottom:18px;
}

#apptNewApptFormUserNew{
display:flex;
justify-content:flex-end;
align-items:center;
margin-left: 50px;
}

#apptNewApptFormUserInfo{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:stretch;
margin: 24px 14px 24px 14px;
padding: 24px 12px;
border-radius: 6px;
background-color:rgba(255,255,255,0.15);
}

#apptNewApptFormUserInfo > div{
justify-content:space-between;
}

#apptNewApptFormApptInfoDur{
width:55pt;
}

#apptNewApptFormApptInfoSrvLst{
}

#apptNewApptFormApptInfoSrvLstLbl{
}

#apptNewApptFormApptInfoDateUser{
justify-content: flex-start;
flex-wrap: wrap;
}

#apptNewApptFormFull{
display: flex;
flex-direction:column;
justify-content:flex-start;
align-items:stretch;
padding:0px 12px 0px 12px;
width: 100%;
}

#apptNewApptFormFull .lbl{
font-weight: 600;
margin-bottom: 26px;
}

#apptNewApptFormFullUser{
width: 100%;
}

#apptNewApptFormFullUser div#apptNewApptFormFullApptInfoByUserType{
opacity: 0.75;
display:flex;
align-self:flex-end;
margin: 4px 4px 8px 4px;
font-size: small;
font-weight: bolder;
color: var(--default-blue);
background-color: white;
padding:2px 3px;
border-radius: 3px;
}

#apptNewApptFormFullApptInfoByUser{
margin-right:12px;
}

#apptNewApptFormFullUserCheck{
}

#apptNewApptFormFullUserToggle{
display: flex;
flex-direction:column;
align-items:flex-end;
justify-content: flex-start;
}

#apptNewApptFormFullUserToggle > .userForm{
width:100%;
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:stretch;
border-radius: 6px;
background-color:rgba(255,255,255,0.15);
box-sizing:border-box;
margin-top:12px;
margin-bottom:12px;
}

#apptNewApptFormFullByUserSlct{
display:flex;
margin-bottom:24px;
}

#apptNewApptFormFullApptInfoByUserType{

}

#apptNewApptFormFullUserAddUser{
margin-left: 24px;
}

#apptNewApptFormFullUserSlct{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
}

.apptNewApptFormFullUserFormBtns{
margin-top:12px;
}

#apptNewApptFormFullApptInfoSrvSlct div{
display:flex;
}

#apptNewApptFormFullApptInfoSrv{
margin-right: 12px;
}

#apptNewApptFormApptInfoSrvTtlDur{
display:flex;
justify-content: flex-end;
align-items: flex-start;
margin-bottom:24px;
}

#apptNewApptFormFullApptInfoSrvTtlDur{
display:flex;
justify-content: flex-end;
align-items: flex-start;
margin-bottom:8px;
}

#apptNewApptFormFullApptStatusRow{
display:flex;
justify-content: flex-end;
align-items: flex-start;
margin-bottom:24px;
}

.apptFormMultiBox{
justify-content:flex-start;
align-items:stretch;
flex-direction:column;
margin-top:18px;
}

.apptFormMultiBox > div.apptFormMultiBoxLbl{
justify-content:flex-start;
margin-bottom:6px;
font-weight: 900;
}


.apptFormMultiBox > div.apptFormMultiBoxBox{
border-radius:6px;
border:1px solid white;
padding:8px;
justify-content:flex-start;
flex-wrap:wrap;
}

.multiBoxListItem{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-start;
border-radius: 8px;
border:1px solid white;
color:white;
background-color:rgba(255, 255, 255, 0.3);
padding:3px 6px;
font-size:x-large;
cursor:pointer;
margin-right: 8px;
margin-bottom: 8px;
}

.multiBoxListItem > div{
display:flex;
}

.multiBoxListItem div.multiBoxListItemInfo{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
}

.multiBoxListItem > div.multiBoxListItemDel{
margin-left:8px;
}

