#calendarEl{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: stretch;
width: 100%;
padding: 0px 10px 0px 10px;
box-sizing: border-box;
}

#calendarEl div{
border-style: solid;
border-color: #c5c5c5;
border-width: 1px 0px 0px 1px;
display: flex;
width:100%;
justify-content: center;
}

#calendarEl .wkVw{
max-width: 12px;
justify-content: center;
align-items: center;
color: #c5c5c5;
}

#calendarEl > .week{
border: 0px;
}

#calendarEl .dyOfWk{
background-color: #1371CF;
color: white;
font-weight: 900;
}

#calendarEl .week > div{
min-height: 90px;
}

#calendarEl .week:first-child > div{
min-height: auto;
}

#calendarEl .week:last-child > div{
border-bottom-width: 1px;
}

#calendarEl > div > div:last-child{
border-right-width: 1px;
}

#mnthEl{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}
 
