#calendarEl{
padding: 0px 10px 0px 10px;
color: #a5a5a5;
border-collapse: separate;
border-spacing: 0px;
width: 100%;
margin: 0px 8px 0px 8px;
table-layout: fixed;
}

#calendarEl th, td{
border-style: solid;
border-color: #c5c5c5;
border-width: 1px 0px 0px 1px;
padding: 0px;
min-width: 40px;
}

#calendarEl th{
justify-content: center;
align-items: center;
color: #c5c5c5;
}


#calendarEl td{
width: min-content;
vertical-align: top;
}

#calendarEl td > div{
box-sizing: border-box;
word-break: break-word;
overflow-x: hidden;
padding: 3px;
}

#calendarEl td > div:first-child{
text-align: right;
}

#calendarEl td > div:last-child{
overflow-y: auto;
height: 100px;
}


#calendarEl tr > th:last-child,td:last-child{
border-right-width: 1px;
}

#calendarEl tr:last-child > td{
border-bottom-width: 1px;
}

#calendarEl .wkVw{
min-width: 14px;
width: 18px;
max-width: 20px;
vertical-align: middle;
}

#calendarEl .wkVw div{
display:flex;
justify-content: center;
align-items: center;
width: 100%;
}

/*----------*/
#calendarEl tr:first-child > th:first-child {
border-top-left-radius: 4px;
}  
#calendarEl tr:first-child > th:last-child {
border-top-right-radius: 4px;
}  
#calendarEl tr:last-child > td:first-child {
border-bottom-left-radius: 4px;
}  
#calendarEl tr:last-child > td:last-child {
border-bottom-right-radius: 4px;
}  


#calendarEl .dyOfWk{
background-color: #1371CF;
color: white;
font-weight: 900;
}

#mnNav{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}

#mnNav >div:first-child{
margin-right: 4px;
}

#calendarEl td[name=today]{
color: white;
background-color: #c5c5c5;
} 

#calendarEl td[name=today] > div:first-child{
font-weight: 900
} 



