.configWrap{
padding:10px 10px 10px 10px;
width:100%;
height:fit-content;
box-sizing:border-box;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.configArea{
padding:6px 6px 6px 6px;
width:100%;
color:var(--default-gray);
box-sizing: border-box;
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
background-color:var(--default-light-gray);
border-color:var(--default-mid-gray);
border-radius:6px;
}

.configArea > *{
display:flex;
color:var(--default-gray);
margin-bottom: 12px;
}

.configArea .menuIcon{
height:32px;
width:32px;
min-height:32px;
min-width:32px;
}

.configArea .menuIcon:hover{
background-color:transparent;
}

.configArea .menuIcon > svg{
fill: var(--default-gray);
height:100%;
width:100%;
}

.configArea input{
border-color: var(--default-gray);
color: var(--default-gray);
font-size:x-large;
font-family: var(--font-family);
background-color:transparent;
}

.configArea input[type="time"]{
border:1px solid var(--default-gray);
border-radius: var(--default-border-radius);
}

.configArea textarea{
border-color:var(--default-mid-gray);
}

.configArea textarea::placeholder{
color:var(--default-gray-a6);
}

.configArea select{
color:var(--default-gray);
border-color:var(--default-gray);
}

.configRow{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}

.configRowHead{
font-weight:900;
margin-top:16px;
}

.configRow .configRowLabel{
margin-left:8px;
margin-right:12px;
}

.configRowButton{
width:100%;
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
margin-top:24px;
}

.configRowButton input{
color:var(--default-gray);
border-color:var(--default-gray);
}

.configRowButton input:hover{
background-color:var(--default-gray);
color:white;
border-color:white;
}
