#contactsAdd{
display: flex;
width:100%;
justify-content: flex-end;
padding:0px 6px 0px 6px;
box-sizing: border-box;
color: #808080;
font-size: x-large;
font-weight: 900;
margin-bottom: 20px;
}

#contactsAdd div{
display: flex;
justify-content: center;
align-items: center;

}

#contactsAdd #contactsAddBtn{
cursor: pointer;
}

#contactsMain{
width: 100%;
padding:var(--default-pad-size);
box-sizing: border-box;
}

#contactsUserForm{
padding:0px 12px 0px 12px;
width: 100%;
}

#contactsUserForm div{
display: flex;
}

#contactsUserForm .lbl{
font-weight: 600;
margin-right: 6px;
}

#contactsList th, #contactsList td{
border-style: solid;
border-color: #c5c5c5;
border-width: 1px;
padding: 4px 6px 4px 6px;
min-width: 40px;
width: auto;
}

#contactsList th{
justify-content: center;
align-items: center;
}


#contactsList td{
width: min-content;
vertical-align: top;
height:100%;
}

#contactsList td:last-child > div.contactsCellActns{
display:flex;
justify-content: space-around;
align-items:flex-start;
width:100%;
}

#contactsList td:last-child > div.contactsCellActns svg{
fill:var(--default-gray);
border-radius:6px;
}

#contactsList td:last-child > div.contactsCellActns svg:hover{
fill:white;
background-color:var(--default-gray);
}

