#cameraVideoWrap{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
width:100%;
height:100%;
}

#cameraVideoWrap #video{
width:100%;
height:100%;
}


#cameraCanvas{
display:none;
}

#cameraCloseButton{
display:none;
}


#cameraOutput{
display:none;
flex-direction:column;
justify-content:center;
align-items:center;
height:100%;
width:100%;
}

#cameraOutput #photo{
height:auto;
width:100%;
}

#cameraOutputControls{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items: center;
flex-grow:10;
width:100%;
}

#cameraOutputControls svg{
fill:var(--default-gray);
width:100px;
height:100px;
cursor:pointer;
}

#cameraOutputControls div:not(#dlbutton), #cameraOutputControls a{
display:flex;
max-height:100px;
}

#cameraDrpdwn{
color:var(--default-gray);
}

#startbutton{
cursor: pointer;
width:100px;
height:100px;
}

#startbutton svg{
fill:var(--default-gray);
}

#startbutton:active svg{
fill:red;
}

#canvas{
}

#cameraOutputOldImgImg{
display:none;
}

#cameraOutputOldImgIcon.err > svg{
fill:red;
}

#dlbutton{
display:none;
}

#clearbutton{
visibility:hidden;
}

#cameraOutputImgs{
visibility:hidden;
}
