.homeClockWrap{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}

.homeClockWrap > div{
margin-right:6px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}

.homeClockWrap div[for]{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}

.homeMain{
width:100%;
box-sizing: border-box;
color: var(--default-gray);
padding:6px 12px;
display:flex;
flex-direction:column;
justify-content: flex-start;
align-items:center;
}

.homeMain > div{
display:flex;
min-width:570px;
}

.homeMainFltr{
}

.homeMain select{
color:var(--default-gray);
}

.homeMainAppts{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items: flex-start;
}

.homeApptCard{
border:1px solid var(--default-mid-gray);
margin-bottom:12px;
border-radius: 6px;
min-width:200px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items: stretch;
}

.homeApptCard .homeApptCardInfo{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
flex-grow:10;

}

.homeApptCard .homeApptCardActions{
background-color:var(--default-light-gray);
}

