.homeClockWrap{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}

.homeClockWrap > div{
margin-right:6px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}

.homeClockWrap div[for]{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}

.homeMain{
width:100%;
box-sizing: border-box;
color: var(--default-gray);
padding:6px 12px;
display:flex;
flex-direction:column;
justify-content: flex-start;
align-items:center;
}

.homeMain > div{
display:flex;
min-width:640px;
}

.homeMainFltr{
}

.homeMain select{
color:var(--default-gray);
}

.homeMainAppts{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items: flex-start;
}

.homeApptCard{
border:1px solid var(--default-mid-gray);
margin-bottom:12px;
border-radius: 6px;
min-width:200px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items: stretch;
}

.homeApptCard .homeApptCardInfo{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
flex-grow:10;
min-width:200px;
cursor:pointer;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoDateTime{
background-color:var(--default-mid-gray);
padding:var(--default-snglLn-pad-size);
border-radius:var(--default-border-radius) 0px var(--default-border-radius) 0px;
color:white;
font-weight:900;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoCust{
padding: 4px 6px 4px 6px;
}

.homeApptCard .homeApptCardActions{
background-color:var(--default-light-gray);
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
margin-left:12px;
}

.homeApptCardActions .menuIcon{
margin-left: 6px;
margin-right: 6px;
fill:var(--default-gray);
}

.homeApptCardActions .menuIcon:hover > svg{
background-color:var(--default-gray);
fill:white;
}

.homeApptCardActions .menuIcon svg{
fill:var(--default-gray);
}

.homeAppCardActionsMoreMore{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-end;
align-items:center;
overflow:hidden;
max-width:0px;
padding-left:0px;
padding-right:0px;
background-color: var(--default-light-gray);
transition: all 0.45s ease-in-out;
}

.homeApptCardActions .homeAppCardActionsMore:hover .homeAppCardActionsMoreMore{
max-width:400px;
padding-left:6px;
padding-right:6px;
}
