#cameraVideoWrap{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
width:100%;
height:100%;
}

#cameraVideoWrap #video{
width:100%;
height:100%;
}


#cameraCanvas{
display:none;
}

#cameraCloseButton{
display:none;
}


#cameraOutput{
display:none;
flex-direction:column;
justify-content:center;
align-items:center;
height:100%;
width:100%;
}

#cameraOutput #photo{
height:auto;
width:100%;
}

#cameraOutputControls{
display:none;
flex-direction:row;
justify-content:space-between;
align-items: center;
flex-grow:10;
width:100%;
}

#cameraOutputControls svg{
fill:var(--default-gray);
width:100px;
height:100px;
cursor:pointer;
}

#cameraOutputControls div{
display:flex;
}

#startbutton{
cursor: pointer;
width:100px;
height:100px;
}

#startbutton svg{
fill:var(--default-gray);
}

#startbutton:active svg{
fill:red;
}

#canvas{
}


