.homeClockWrap{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}

.homeClockWrap > div{
margin-right:6px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}

.homeClockWrap div[for]{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}

.homeMain{
width:100%;
box-sizing: border-box;
color: var(--default-gray);
padding:6px 12px;
display:flex;
flex-direction:column;
justify-content: flex-start;
align-items:center;
}

.homeMain > div{
display:flex;
min-width:640px;
}

.homeMainFltr{
}

.homeMain select{
color:var(--default-gray);
}

.homeMainAppts{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items: flex-start;
}

.homeApptCard{
border:1px solid var(--default-mid-gray);
margin-bottom:12px;
border-radius: var(--default-border-radius);
min-width:200px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items: stretch;
overflow:hidden;
}

.homeApptCard .homeApptCardInfo{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
flex-grow:10;
min-width:200px;
cursor:pointer;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoDateTime{
background-color:var(--default-mid-gray);
padding:var(--default-snglLn-pad-size);
border-radius:0px 0px var(--default-border-radius) 0px;
color:white;
fill:white;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoDateTime > div > svg{
width:25px;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoDateTime > span:first-child{
font-weight:bolder;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoDateTime > span:nth-child(2){
margin:0px 6px 0px 6px;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoDateTime > span:last-child{
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoCust{
padding: 4px 6px 4px 6px;
width:100%;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoCust .homeApptCardInfoCustRow{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoCust .homeApptCardInfoCustRowIS{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}

.homeApptCard .homeApptCardInfo .homeApptCardInfoCust .homeApptCardInfoCustRowIS .homeApprCardInfoIS{
background-color:var(--default-mid-gray);
color:white;
border-radius:var(--default-border-radius);
padding: 1px var(--default-border-radius) 1px var(--default-border-radius);
}

.homeApptCard .homeApptCardActions{
background-color:var(--default-light-gray);
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
margin-left:12px;
}

.homeApptCardCur{
border-color:var(--default-light-green);
}

.homeApptCardCur .homeApptCardInfo .homeApptCardInfoDateTime{
background-color:var(--default-light-green);
}

.homeApptCardCur .homeApptCardInfo .homeApptCardInfoCust .homeApptCardInfoCustRowIS .homeApprCardInfoIS{
background-color:var(--default-light-green);
}


.homeApptCardBar{
background-color: var(--default-blue);
color: white;
font-size: smaller;
margin-bottom: 4px;
width: 100%;
border-radius: var(--default-border-radius);
padding: 1px 1px 1px var(--default-border-radius);
}

.homeApptCardBar > span:first-child{
font-weight:900;
}

.homeApptCardBar > span:nth-child(2){
margin: 0px 6px 0px 6px;
}

.homeApptCardActions .menuIcon{
margin-left: 6px;
margin-right: 6px;
fill:var(--default-gray);
}

.homeApptCardActions .menuIcon:hover > svg{
background-color:var(--default-gray);
fill:white;
}

.homeApptCardActions .menuIcon svg{
fill:var(--default-gray);
}

.homeAppCardActionsMoreMore{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-end;
align-items:center;
overflow:hidden;
max-width:0px;
padding-left:0px;
padding-right:0px;
background-color: var(--default-light-gray);
transition: all 0.45s ease-in-out;
}

.homeApptCardActions .homeAppCardActionsMore:hover .homeAppCardActionsMoreMore{
max-width:400px;
padding-left:6px;
padding-right:6px;
}
