#invcsNewForm{
padding: 0px 12px 0px 12px;
width:100%;
min-width:65vw;
}

#invcsNewFormInfo{
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-between;
width:100%;
}

#invcsNewFormInfo > div{
display:flex;
width:100%;
flex-direction:row;
align-items:center;
justify-content:space-between;
}

#invcsNewFormInfo .flexLeft > div{
padding-right: 12px;
}

#invcsNewFormInvcsStts{
margin-bottom:12px;
align-items:flex-start;
}

#invcsNewItemsBox{
flex-direction:column;
}

#invcsNewItems{
display:flex;
width:100%;
flex-direction:column;
justify-content: center;
align-items:flex-start;
overflow:auto;
}

#invcsNewItemsTbl{
color: white;
border: 0px;
border-spacing:4px;
}

#invcsNewItemsTbl tr{
background-color: transparent;
}

#invcsNewItemsTbl th, #invcsNewItemsTbl td{
text-align: left;
border-width:0px;
border-color:white;
}

#invcsNewItemsTbl th{
background-color:white;
color:var(--default-blue);
}

#invcsNewItemsTbl th:first-child{
border-width: 0px;
visibility:hidden;
}

#invcsNewItemsTbl th:last-child{
border-radius: 0px 6px 6px 0px;
}

#invcsNewItemsTbl th:nth-child(2){
border-radius: 6px 0px 0px 6px;
}

#invcsNewItemsTbl tr td:first-child{
padding-right:0px;
vertical-align:middle;

}

.invcsNewItemActns {
display: flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
}

.invcsNewItemActns div{
fill:white;
width: 32px;
height: 32px;
margin-left:4px;
}

.invcsNewItemActns div:first-child{
margin-right:18px;
}

.invcsNewItemsSlct{
border-width: 0px 0px 1px 0px;
box-sizing: border-box;
min-height: 26px;
height: 26px;
font-size: 16px;
font-weight:600;
padding-top:0px;
padding-bottom:0px;
}
