#invcsNewForm{
padding: 0px 12px 0px 12px;
width:100%;
min-width:65vw;
}

#invcsNewFormInfo{
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-between;
width:100%;
}

#invcsNewFormInfo > div{
display:flex;
width:100%;
flex-direction:row;
align-items:center;
justify-content:space-between;
}

#invcsNewFormInfo .flexLeft > div{
padding-right: 12px;
}

#invcsNewFormInvcsStts{
margin-bottom:12px;
align-items:flex-start;
}

#invcsNewItemsBox{
flex-direction:column;
}

#invcsNewItems{
display:flex;
width:100%;
flex-direction:column;
justify-content: center;
align-items:flex-start;
}
