#invntSrvNewForm{
display: flex;
flex-direction:column;
justify-content:flex-start;
align-items:stretch;
padding:0px 12px 0px 12px;
width: 100%;
}

#invntSrvNewForm .lbl{
font-weight: 600;
margin-bottom: 26px;
}

.invntSrvMdlFltr > div{
margin-right: 24px;
}

.invntSrvMdlFltr > div:last-child{
margin-right: 0px;
}

.invntSrvsNA td{
border-color: var(--faded-white-30);
color:var(--faded-white-80);
}

#invntSrvNewFormInvntSrvLstTbl td:last-child > div.moduleTblCellActns{
align-items:center;
justify-content:flex-end;
}

#invntSrvNewFormInvntSrvLstTbl td:last-child > div.moduleTblCellActns > div.inptNumNumRszWrap{
min-width:64px;
width:64px;
margin-right:6px;
margin-left:6px;
text-align:center;
}
