:root{
--default-blue: #71AEEC;
--default-gray: #787878;
--faded-white: rgba(255,255,255,0.4);
--font-family:"DejaVu Sans", Arial, sans-serif;
}

html, body{
margin: 0px;
padding: 0px;
font-family: var(--font-family);
min-width: 500px;
}

table{
padding: 0px;
color: #787878;
border-collapse: separate;
border-spacing: 0px;
width: 100%;
}

table th, td{
border-style: solid;
border-color: #c5c5c5;
border-width: 1px;
padding: 4px 6px 4px 6px;
min-width: 40px;
width: auto;
}

table th{
justify-content: center;
align-items: center;
}

table td{
width: min-content;
vertical-align: top;
height:100%;
}

table tr:nth-child(odd){
background-color: #f0f0f0;
}

table tr:first-child > th:first-child{
border-top-left-radius: 4px;
}
table tr:first-child > th:last-child{
border-top-right-radius: 4px;
}
table tr:last-child > td:first-child{
border-bottom-left-radius: 4px;
}
table tr:last-child > td:last-child{
border-bottom-right-radius: 4px;
}

div,select,option{
font-family: var(--font-family);
}

input[type="submit"]{
background-color: transparent;
border: 1px solid white;
color: white;
border-radius: 6px;
font-family: var(--font-family);
padding: 4px 6px;
margin: 0px 0px;
font-size:larger;
transition-property: padding, margin;
transition-duration: 0.2s;
transition-timing-function: cubic-bezier(0.2,0,0.2,1);
}

input[type="submit"]:hover{
color: var(--default-blue);
background-color: white;
border-color: var(--default-blue);
}

input[type="submit"]:active{
color: #71aeec;
background-color: white;
border-color: #71aeec;
padding: 0px 2px;
margin: 4px 4px;
}

input[type="submit"]:disabled{
color: var(--faded-white);
background-color: transparent;
border-color: var(--faded-white);
}

input[type="datetime-local"]{
padding: 4px 6px;
background-color: transparent;
border: 1px solid white;
border-radius: 6px;
color: white;
font-family:var(--font-family);
font-size: x-large;
color-scheme:dark;
}

input[type="number"]{
padding: 4px 6px;
background-color: transparent;
border: 1px solid white;
border-radius: 6px;
color: white;
font-family:var(--font-family);
font-size: x-large;
}

input[type="number"]::placeholder{
color:rgba(255, 255, 255, 0.8);
}

textarea{
border-width: 0px 0px 1px 0px;
border-color: white;
color: white;
background-color: transparent;
padding-left: 8px;
font-family: var(--font-family);
font-weight: 600;
resize: auto;
overflow: auto;
margin-right: 10px;
min-height: 16px;
height: 16px;
align-items: flex-end;
}

textarea::placeholder{
color: rgba(255, 255, 255, 0.6);
}

.enterDatabase{
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100vh;
background-color: #71AEEC;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: var(--font-family);
border-radius: 4px;
z-index: 100;
display: flex;
}

#enterDatabase{
background-color: white;
font-family: var(--font-family);
border-radius: 4px;
}

.pageWrapper{
margin: 0px;
padding: 0px;
width: 100%;
}


#topEls{
display: flex;
position: sticky;
top: 0px;
width: 100%;
margin: 0px 0px 20px 0px;
justify-content: space-between;
align-items: flex-start;
z-index: 50;
}

#topEls > div{
display: flex;
justify-content: center;
align-items: center;
color: white;
font-weight: bold;
background-color: #71AEEC;
box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.6);
}

#bttmEls{
position: fixed;
box-sizing: border-box;
background-color: var(--default-blue);
color: white;
z-index: 50;
visibility: visible;
}

.bttmElsClss{
display: flex;
bottom: 0px;
margin: 20px 0px 12px 0px;
width: fit-content;
border-radius: 0px 12px 12px 0px;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
visibility: hidden;
}

.bttmElsActns{
padding: 8px;
}

#menu{
margin: 0px;
}

#menuLogo{
width: 60px;
border: 1px solid white;
border-radius: 6px;
background-color: white;
height: 60px;
margin: 8px 8px 8px 10px;
color: #71AEEC;
display:flex;
justify-content: center;
align-items: center;
}

#menu:hover #menuDropDown{
max-height: 1000px;
box-shadow: 0px 1px 2px 0px rgba(60 64 67 0.6);
}

#menuDropDown{
background-color: #71AEEC;
max-height: 0px;
height: fit-content;
width: fit-content;
padding: 0px 10px 0px 10px;
position: absolute;
box-sizing: border-box;
border-radius: 0px 0px 4px 4px;
transition: max-height 1s ease-in-out; 
transition-delay: 0s;
overflow: hidden;
}

#topEls > div{
border-color: white;
border-style: solid;
border-width: 0px;
}

#topEls > .leftNav{
border-radius: 0px 0px 6px 0px;
min-height: 40px;
height: 10%;
justify-content: flex-start;
}

#leftNavMod{
padding-left: 6px;
padding-right: 12px;
}

#topEls > .rightNav{
border-radius: 0px 0px 0px 6px;
min-height: 40px;
height: 10%;
justify-content: flex-end;
font-size: xxx-large;
}

.rightNav{
padding: 8px 10px 8px 8px;
}

.rightNavActns{
display: flex;
}

.rightNavActns > .menuIcon{
margin-left: 16px;
}

#mainEl{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.sdMd{
position: fixed;
top: 20px;
border-color: white;
border-style: solid;
background-color: #71AEEC;
min-width: 35vw;
min-height: calc(100vh - 40px);
color: white;
display: flex;
flex-direction: column;
box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.65);
transition: all 0.45s ease-in-out;
}

.sdMd > div{
display: flex;
width: 100%;
box-sizing: border-box;
}

.sdMd > div:first-child{
flex-direction: row;
justify-content: flex-end;
}

.sdMd > div:last-child{
flex-grow:100;
}

.sdMd div.close{
display: flex;
width: min-content;
font-size: xx-large;
padding-top: 4px;
padding-right: 8px;
align-items:flex-start;
cursor: pointer;
}

#lftMod{
border-radius: 0px 6px 6px 0px;
border-width: 0px;
max-width: 100vw;
box-shadow: 0px 1px 2px 1px rgba(60,64,67,0.6);
z-index: 80;
}

#rghtMod{
border-radius: 6px 0px 0px 6px;
border-width: 0px;
box-shadow: 0px 1px 2px 1px rgba(60,64,67,0.6);
z-index: 79;
}

.row{
display: flex;
justify-content: flex-end;
align-items: center;
margin-bottom: 16px;
}
