html, body{
margin: 0px;
padding: 0px;
font-family: "DejaVu Sans", Arial, sans-serif;
}

.enterDatabase{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: #71AEEC;
  z-index: 100;
}

.pageWrapper{
margin: 0px;
padding: 0px;
width: 100%;
}


#topEls{
display: flex;
position: sticky;
top: 0px;
width: 100%;
margin: 0px 0px 20px 0px;
justify-content: space-between;
align-items: flex-start;
z-index: 50;
}

#topEls > div{
display: flex;
justify-content: center;
align-items: center;
color: white;
font-weight: bold;
background-color: #71AEEC;
}

#menu{
margin: 0px;
}

#menuLogo{
width: 46px;
border: 1px solid red;
height: 46px;
margin: 8px 8px 8px 10px;
}

#menu:hover #menuDropDown{
max-height: 1000px;
padding: 0px 8px 8px 10px;
}

#menuDropDown{
background-color: #71AEEC;
max-height: 0px;
height: 300px;
width: 68px;
padding: 0px 8px 0px 10px;
position: absolute;
box-sizing: border-box;
border-radius: 0px 0px 4px 4px;
transition: max-height 1s ease-in-out; 
transition-delay: 0s;
}

#topEls > .leftNav{
border-radius: 0px 0px 6px 0px;
min-width: 150px;
min-height: 40px;
height: 10%;
}

#topEls > .rightNav{
border-radius: 0px 0px 0px 6px;
min-width: 150px;
min-height: 40px;
width: 10%;
height: 10%;
}

#mainEl{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
}
