#menuDropDown div{
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
margin-bottom: 8px;
}

#menuDropDown div:first-child{
margin-top: 8px;
}

#menuDropDown div:last-child{
margin-bottom: 8px;
}

#menuDropDown .menuLftItm{
cursor: pointer;
}

.midBtn{
height:30px;
fill:#FFFFFF;
}

.menuIcon{
display: flex;
box-sizing: border-box;
cursor: pointer;
min-height: 46px;
min-width: 46px;
border-radius: 6px;
}

.menuIcon svg{
height: 60px;
width: 60px;
fill: #FFFFFF;
}

.menuIcon:hover{
background-color: #FFFFFF;
}

.menuIcon:hover svg{
border-radius: 3px;
fill: var(--default-blue);
}
